*{
    box-sizing: border-box; 
  }
  
body{background-color: #F5EBE0;
    margin: 0; 
    background-image: url(../img/baggrund.png); 
    background-repeat: no-repeat; 
    background-size: cover; 
}
  
header {
    background-color:#001D3D;
    display: flex;
    justify-content: center;
} 
 
.knap a{ 
    border-radius: 70px; 
    background-color: #CCD5AE; 
    color: #001D3D;  
    padding: 15px 15px; 
    font-size: 10px; 
    text-decoration: none;   
    margin-left: 30px;
    position: absolute;  
    top: 23px;
 }
  
.logo{
    width: 158px; 
    height: 89px; 
    padding-top: 4px; 
    padding-bottom: 4px;
}
  

.learnigxdbox{ 
    width: 400px;
    height: 470px;
    background-color: #D5BDAF;
    border: 5px #001D3D;
    position: relative; /*den starter ved header, kan ses i html da box1 ligger tættest på headeren der*/
    left: 20px;
    top: 20px;
} 

.xd{ 
    width: 200px; 
    padding-top: 25px;
    padding-left: 10px;
}


.learningadobeanimatebox{
    width: 400px;
    height: 367px;
    background-color: #D5BDAF;
    border: 5px #001D3D;
    position: relative; /*den starter ved header, kan ses i html da box1 ligger tættest på headeren der*/
    left: 20px;
    top: 40px; 
    z-index: 10; 
    padding: auto;
}


.moveingart{
    width: 200px;
    height: 367px;
    background-color: #D5BDAF;
    border: 5px #001D3D;
    position: relative; /*den starter ved header, kan ses i html da box1 ligger tættest på headeren der*/
    left: 10px;
    top: 11px; 
    z-index: 10;
}


.illustrator{
    width: 200px;
    height: 367px;
    background-color: #D5BDAF;
    border: 5px #001D3D;
    position: relative; /*den starter ved header, kan ses i html da box1 ligger tættest på headeren der*/
    left: 10px;
    top: 11px; 
    z-index: 10;
} 

.foto{
    width: 200px;
    height: 367px;
    background-color: #D5BDAF;
    border: 5px #001D3D;
    position: relative; /*den starter ved header, kan ses i html da box1 ligger tættest på headeren der*/
    left: 10px;
    top: 11px; 
    z-index: 10;
}

.illustratorcss{
    width: 200px;
    height: 367px;
    background-color: #D5BDAF;
    border: 5px #001D3D;
    position: relative; /*den starter ved header, kan ses i html da box1 ligger tættest på headeren der*/
    left: 10px;
    top: 11px; 
    z-index: 10;
} 


footer{
    width: auto;
    background-color:#001D3D; 
    padding: 50px; 
    margin-top: 34px;
} 
  
.footerbox{
    width: auto;
    background-color:#D5BDAF; 
    margin: auto; 
    text-align: center;  
    padding-top: 2px; 
    padding-bottom: 2px;
}    